<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/font-awesome.min.css" />
        {% endblock head %}
</head>

<body id="index" class="home">
        <header id="banner" class="body">
            <ul>
                <li>
                    <h1><a href="{{ SITEURL }}/" id="homepage">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
                </li>
                <li>
                    <div class="social">
                    <ul>
                    {% for name, link in SOCIAL %}
                        <!-- <li><a href="{{ link }}" target="_blank"><i>{{ name }}</i></a></li> -->
                        <li><a class="sc-{{ name }}" href="{{ link }}" target="_blank"><i class="fa fa-{{ name }}"></i></a></li>
                    {% endfor %}
                    </div>
                    </ul>
                </li>
            </ul>
        </header><!-- /#banner -->
        {% block content %}
        {% endblock %}
        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->
        </footer><!-- /#contentinfo -->
</body>
</html>
